.footer {
    text-align: bottom;
}

p {
    font-size: 18px;
    line-height: 1.9;
    color: #1aff00;
    margin-bottom: 10px;
    text-align: left;
    max-width: 500px;
}

h5 {
    background-color: rgb(71, 75, 78);
    max-width: 500px;
    color: #1aff00;
    font-weight: bold;
    margin-bottom: 8px;
}

summary {
    font-size: 18px;
    line-height: 1.9;
    color: #1aff00;
    margin-bottom: 10px;
    text-align: left;
    max-width: 500px;
}


.block {
  background-color: #1a1a1a;
  padding: 30px;
  margin: 40px auto;
  max-width: 900px;
  border-radius: 10px;
  text-align: center;
}

.block h2 {
  color: #00ff00;
  margin-bottom: 20px;
  text-align: left;
}

.two-columns {
  display: flex;
  gap: 30px;
}

.column {
  flex: 1;
}

.column img {
  width: 100%;
  border-radius: 10px;
}

.block h3 {
    color: #1aff00;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}