.footer {
    text-align: bottom;
}

p {
    font-size: 18px;
    line-height: 1.9;
    color: #1aff00;
    margin-bottom: 10px;
    text-align: left;
    max-width: 500px;
}

h5 {
    background-color: rgb(71, 75, 78);
    max-width: 500px;
    color: #1aff00;
    font-weight: bold;
    margin-bottom: 8px;
}

summary {
    font-size: 18px;
    line-height: 1.9;
    color: #1aff00;
    margin-bottom: 10px;
    text-align: left;
    max-width: 500px;
}


.block {
  background-color: #1a1a1a;
  padding: 30px;
  margin: 40px auto;
  max-width: 900px;
  border-radius: 10px;
  text-align: center;
}

.block h2 {
  color: #00ff00;
  margin-bottom: 20px;
  text-align: left;
}

.two-columns {
  display: flex;
  gap: 30px;
}

.column {
  flex: 1;
}

.column img {
  width: 80%;
  border-radius: 10px;
}

.column iframe {
  width: 10%;
  height: 100px;
  border-radius: 5px;
}

.block h3 {
    color: #1aff00;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

video {
    width: 100%;
    border-radius: 10px;
}

.column video {
  width: 100%;
  max-width: 100%;
  border-radius: 12px;
  background: black;
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 20px;
  background-color: #1aff00;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
}