html,
body {
    background-color: #000000;
        color:#1aff00;

}

/* Ruimte voor navbar + volledige viewport */
.main-content {
  min-height: calc(100vh - 70px);
  padding-top: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 2rem;
}
